extends ../layout.pug

block content
  div(class='breadcrumb')
    div= title
  div.list-group
    div.list-group-item

      <h5><span class='glyphicon glyphicon-user'> <a href='/passanger'> Passangers</a></h5>
      <h5><span class='glyphicon glyphicon-briefcase'> <a href='/ticket'> Tickets</a></h5>
      <h5><span class='glyphicon glyphicon-ok'> <a href='/train'> Trains</a></h5>
      <h5><span class='glyphicon glyphicon-time'> <a href='/selled_tickets'> Selled tickets</a></h5>

     
