extends ../layout.pug

block prepend styles
  link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
  div(class='breadcrumb')
    li= title
  form(id='selled_tickets-add-form' name='selled_tickets-add-form' class='form-inline' action='')

    input(id='id' name='id' value='' class='form-control' type='hidden')
    p(class='text-danger' id='error-text')

    div(class='form-group')
      div(class='col-md-3')
        label(for='id') Passanger
      div(class='col-md-9')
        input(id='passanger' name='passanger' value='' class='form-control')
    
    
    div(class='form-group')
      div(class='col-md-3')
        label(for='name') Train
      div(class='col-md-9')
        input(id='train' name='train' value='' class='form-control') 
               
    div(class='form-group')
      div(class='col-md-3')
        label(for='name') Ticket
      div(class='col-md-9')
        input(id='ticket' name='ticket' value='' class='form-control')

    div(class='form-group')
      div(class='col-md-12')
        button(id="form-button" type='submit' class='btn btn-primary') Create

    div.list-wrapper
      table(id='selled_tickets-list')

block append scripts
  script(src='/static/js/models/selled_tickets.js')
  script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
  script(src='/static/js/views/selled_tickets.js')
      